$--font-path: "~element-plus/lib/theme-chalk/fonts";

@import "./element/index.scss";
@import "./tailwind/index.css";

.el-table {
  --el-table-header-font-color: white;
  --el-table-header-background-color: var(--el-color-primary);
  --el-table-tr-background-color: white;
  box-shadow: 4px 4px 8px 0 rgba($color: #000000, $alpha: 0.1);

  .ascending {
    .sort-caret {
      &.ascending {
        border-bottom-color: white !important;
      }
    }
  }
  .descending {
    .sort-caret {
      &.descending {
        border-top-color: white !important;
      }
    }
  }

  .el-input {
    &.inline__edit {
      --el-input-background-color: transparent;
    }
  }
}

.el-avatar {
  border: 1px white solid;
}
